.introSeadronix {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.introSeadronix .descript-intro {
  bottom: 15%;
  left: 3.5rem;
  padding: 30px;
  position: absolute;
  color: #fff;
  z-index: 9;
}
.introSeadronix .descript-intro h3 {
  font-size: 38px;
  font-weight: 700;
}
.introSeadronix .descript-intro p {
  font-size: 20px;
  padding: 15px 0;
}

/* -- intro end -- */
.aboutSeadronix {
  position: relative;
  padding: 7rem 0 5rem;
}
.aboutSeadronix .aboutSeadronix__img {
  max-width: 100%;
  height: auto;
}
.descript_about {
  padding: 4rem 0 0 0;
}
.descript_about h2 {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 2rem;
}
.descript_about p {
  font-size: 1.25rem;
  margin-bottom: 3rem;
}
.descript_about a {
  display: inline-flex;
  cursor: pointer;
  transition: all 300ms;
}
.descript_about a:hover {
  color: #fff;
  background-color: #1580ff;
  transition: all 300ms;
}
.descript_about a > span {
  position: relative;
  left: 3px;
  transition: all 300ms;
}
.descript_about a:hover > span {
  left: 12px;
  transition: all 300ms;
}

/* about end */

.productSeadronix {
  background-color: #f8fafc;
  position: relative;
  padding: 5rem 0 5rem;
}
.title-between h2 {
  font-weight: 600;
  line-height: 1.4;
  margin: 0;
}
.title-between p {
  text-align: right;
  font-weight: 400;
  color: #222;
  margin: 0;
  font-size: 1.4rem;
}
.visual_product {
  display: flex;
  flex-wrap: wrap;
}
.product-thumnail {
  display: block;
  position: relative;
  background: #eee;
  padding: 2rem 1.5rem;
  height: 480px;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 0.75rem;
  color: #fff;
  overflow: hidden;
  transition: all 300ms;
}
.product-thumnail:hover > .more {
  transform: rotate(90deg);
  transition: all 300ms;
}
.product-thumnail::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  transition: all 300ms;
  content: " ";
}
/* 
    ::before 태그와 ::after 태그
    가상의 div를 만들어주는 태그. 단순 장식용 div를 만드느니 이걸 쓰자! 
    ※content 요소가 없으면 동장하지 않음 공백이라도 넣자.
*/
/* 
    element의 단계 순서
    1. 아랫줄에 적히는 element가 더 상위로 쌓인다.
    2. 만일 position속성이 있으면 태그의 순서와 상관없이 위로 올라간다.
*/
.product-thumnail:hover::after {
  background: rgba(0, 0, 0, 0.4);
  transition: all 300ms;
  content: " ";
}
.product-thumnail h2 {
  position: relative;
  z-index: 99;
  margin-bottom: 0;
  line-height: 1.25;
}
.product-thumnail h4 {
  position: relative;
  z-index: 99;
  font-weight: 400;
}
.product-thumnail .more {
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  width: 4rem;
  height: 4rem;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  z-index: 99;
  transition: all 300ms;
}
.product-thumnail .more img {
  width: 4rem;
  height: 4rem;
}
.product-thumnail .image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.product-thumnail .image img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
  transition: all 500ms;
}
/* product end */

.bannerSeadronix {
  position: relative;
  background-color: #0c3c60;
  background-position: 50% 50%;
  background-image: linear-gradient(-65.5deg, #0c3c60, #1580ff 71.5%);
  color: #fff;
  padding: 4rem 0;
}
.bannerSeadronix .inner {
  position: relative;
  display: flex;
  z-index: 99;
  justify-content: space-between;
  align-items: center;
}
/* banner end */

.technologySeadronix {
  background-color: #f8fafc;
  position: relative;
  padding: 5rem 0 5rem;
}
.technologySeadronix .title-between h2 {
  margin-bottom: 2rem;
}
.technology-thumnail {
  display: block;
  position: relative;
  background: #eee;
  padding: 2rem 1.5rem;
  height: 480px;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 0.75rem;
  color: #fff;
  overflow: hidden;
  transition: all 300ms;
}
.technology-thumnail:hover > .more {
  transform: rotate(90deg);
  transition: all 300ms;
}
.technology-thumnail::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  transition: all 300ms;
  content: " ";
}
.technology-thumnail:hover::after {
  background: rgba(0, 0, 0, 0.4);
  transition: all 300ms;
  content: " ";
}
.technology-thumnail h3 {
  position: relative;
  z-index: 99;
  margin-bottom: 1rem;
  line-height: 1.25;
}
.technology-thumnail p {
  position: relative;
  z-index: 99;
  font-weight: 400;
}
.technology-thumnail .more {
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  width: 4rem;
  height: 4rem;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  z-index: 99;
  transition: all 300ms;
}
.technology-thumnail .more img {
  width: 4rem;
  height: 4rem;
}
.technology-thumnail .image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.technology-thumnail .image img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
  transition: all 500ms;
}
.descipt-tech {
  position: absolute;
  left: 0;
  top: 0;
  padding: 2rem;
  z-index: 99;
}
/* technology end */

.partnerSeadronix {
  background-image: url(../img/main-investors.jpg);
  background-color: #0c3c60;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}
.partnerSeadronix:before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  content: " ";
  background: rgb(0, 0, 0, 0.3);
}
.partnerSeadronix .title-between h2 {
  color: #fff;
  margin-bottom: 2rem;
}
.partner__inner {
  position: relative;
  background-color: #fff;
  padding: 2rem 0;
  border-radius: 0.5rem;
}
.partner__inner img {
  width: 270px;
  filter: grayscale(1);
  transition: all 300ms;
  cursor: pointer;
}
.partner__inner img:hover {
  filter: grayscale(0);
}

/* parter end */
.newsSeadronix {
  overflow: hidden;
}
.news__article {
  cursor: pointer;
}
.thumnail-news {
  position: relative;
}
.thumnail-news .channel {
  position: absolute;
  left: 1rem;
  top: 1rem;
  display: inline-block;
  background: #f36335;
  color: #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  /* position을 적용시키면 inline도 상하로 padding을 적용할 수 있다. */
}
.thumnail-news img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
  border-radius: 0.75rem;
}
.descript-news h5 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}
.descript-news p.date {
  margin-top: 2rem;
  font-size: 1rem;
  color: #8996a5;
}
.news__swip-left {
  position: absolute;
  top: 50%;
  left: 0;
  transition: all 0.5s;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background-image: url(../img/icons/arrow.svg);
  background-color: #fff;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9999;
  box-shadow: 0 2px 1px rgb(0 0 0 / 15%);
}
.news__swip-right {
  position: absolute;
  top: 50%;
  right: 0;
  transition: all 0.5s;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background-image: url(../img/icons/arrow.svg);
  transform: rotate(180deg);
  background-color: #fff;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9999;
  box-shadow: 0 2px 1px rgb(0 0 0 / 15%);
}
.row-news {
  flex-wrap: nowrap;
  -ms-overflow-style: none;
}
.row-news .col-lg-4 {
  padding: 0.5rem;
}
.row-news::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari,Opera */
}
/* news end */
section {
  position: relative;
  padding: 5rem 0;
  scroll-margin-top: 2rem;
}
section.introSeadronix {
  height: 100vh;
  padding: 0;
  background: #222;
  color: #f8fafc;
  position: relative;
}
