.introSeadronix {
  position: relative;
  height: 100vh;
  overflow: hidden;
  .descript-intro {
    bottom: 15%;
    left: 3.5rem;
    padding: 30px;
    position: absolute;
    color: #fff;
    z-index: 9;
    h3 {
      font-size: 38px;
      font-weight: 700;
    }
    p {
      font-size: 20px;
      padding: 15px 0;
    }
  }
  .visual {
    &__list {
      width: 100%;
      height: 100vh;
      li {
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: 50%;
        &.visual01 {
          background-image: url("../img/visual01.jpg");
        }
        &.visual02 {
          background-image: url("../img/visual02.jpg");
        }
        &.visual03 {
          background-image: url("../img/visual03.jpg");
        }
      }
    }
  }
}

/* -- intro end -- */
.aboutSeadronix {
  position: relative;
  padding: 7rem 0 5rem;
  .aboutSeadronix__img {
    max-width: 100%;
    height: auto;
  }
  .descript_about {
    padding: 4rem 0 0 0;
    h2 {
      font-weight: 400;
      margin-top: 0;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    a {
      font-size: 0.9rem;
      padding: 0.7rem 1rem;
      display: inline-flex;
      cursor: pointer;
      transition: all 300ms;
      > span {
        position: relative;
        left: 3px;
        transition: all 300ms;
      }
      &:hover {
        color: #fff;
        background-color: #1580ff;
        transition: all 300ms;
        > span {
          left: 12px;
          transition: all 300ms;
        }
      }
    }
  }
}

/* about end */

.productSeadronix {
  background-color: #f8fafc;
  position: relative;
  padding: 5rem 0 5rem;
}
.title-between {
  h2 {
    font-weight: 600;
    line-height: 1.4;
    margin: 0;
    p {
      text-align: right;
      font-weight: 400;
      color: #222;
      margin: 0;
      font-size: 1.4rem;
    }
  }
}
.title-m {
  h2 {
    margin: 0;
    letter-spacing: -0.05rem;
    font-weight: 600;
    line-height: 1.4;
  }
  p {
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    color: #222;
    margin: 0;
  }
}
.visual_product {
  display: flex;
  flex-wrap: wrap;
}
.product-thumnail {
  display: block;
  position: relative;
  background: #eee;
  padding: 2rem 1.5rem;
  height: 250px;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 0.75rem;
  color: #fff;
  overflow: hidden;
  transition: all 300ms;
  &::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    transition: all 300ms;
    content: " ";
  }
  h2 {
    margin-bottom: 0;
    line-height: 1.25;
    position: relative;
    z-index: 99;
  }
  h4 {
    position: relative;
    z-index: 99;
    font-weight: 400;
  }
  .more {
    position: absolute;
    bottom: 2.5rem;
    right: 2.5rem;
    width: 3rem;
    height: 3rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    z-index: 99;
    transition: all 300ms;
    img {
      width: 3rem;
      height: 3rem;
    }
  }
  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    img {
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
      transition: all 500ms;
    }
    left: 0;
  }
}
/* product end */

.bannerSeadronix {
  position: relative;
  background-color: #0c3c60;
  background-position: 50% 50%;
  background-image: linear-gradient(-65.5deg, #0c3c60, #1580ff 71.5%);
  color: #fff;
  padding: 4rem 0;
}
.bannerSeadronix .inner {
  position: relative;
  display: flex;
  z-index: 99;
  justify-content: space-between;
  align-items: center;
}
/* banner end */

.technologySeadronix {
  background-color: #f8fafc;
  position: relative;
  padding: 5rem 0 5rem;
  .title-between h2 {
    margin-bottom: 2rem;
  }
}
.technology-thumnail {
  display: block;
  position: relative;
  background: #eee;
  padding: 2rem 1.5rem;
  height: 250px;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 0.75rem;
  color: #fff;
  overflow: hidden;
  transition: all 300ms;
  &:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    transition: all 300ms;
    content: " ";
  }
  h3 {
    position: relative;
    z-index: 99;
    margin-bottom: 1rem;
    line-height: 1.25;
  }
  p {
    position: relative;
    z-index: 99;
    font-weight: 400;
  }
  .more {
    position: absolute;
    bottom: 2.5rem;
    right: 2.5rem;
    width: 3rem;
    height: 3rem;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    z-index: 99;
    transition: all 300ms;
    img {
      width: 3rem;
      height: 3rem;
    }
  }
  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    img {
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
      transition: all 500ms;
    }
  }
}
.descipt-tech {
  position: absolute;
  left: 0;
  top: 0;
  padding: 2rem;
  z-index: 99;
}
/* technology end */

.partnerSeadronix {
  background-image: url(../img/main-investors.jpg);
  background-color: #0c3c60;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}
.partnerSeadronix:before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  content: " ";
  background: rgb(0, 0, 0, 0.3);
}
.partnerSeadronix .title-between h2 {
  color: #fff;
  margin-bottom: 2rem;
}
.partner__inner {
  position: relative;
  background-color: #fff;
  padding: 2rem 0;
  border-radius: 0.5rem;
}
.partner__inner img {
  width: 270px;
  filter: grayscale(1);
  transition: all 300ms;
  cursor: pointer;
}
.partner__inner img:hover {
  filter: grayscale(0);
}

/* parter end */
.newsSeadronix {
  overflow: hidden;
  .col-lg-12 {
    width: 90%;
  }
}
.news__article {
  cursor: pointer;
}
.thumnail-news {
  position: relative;
  .channel {
    position: absolute;
    left: 1rem;
    top: 1rem;
    display: inline-block;
    background: #f36335;
    color: #fff;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    font-size: 1rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    /* position을 적용시키면 inline도 상하로 padding을 적용할 수 있다. */
  }
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
    border-radius: 0.75rem;
  }
}
.descript-news h5 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  p.date {
    margin-top: 2rem;
    font-size: 1rem;
    color: #8996a5;
  }
}
.news__swip-left {
  position: absolute;
  top: 50%;
  left: 0;
  transition: all 0.5s;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background-image: url(../img/icons/arrow.svg);
  background-color: #fff;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9999;
  box-shadow: 0 2px 1px rgb(0 0 0 / 15%);
}
.news__swip-right {
  position: absolute;
  top: 50%;
  right: 0;
  transition: all 0.5s;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background-image: url(../img/icons/arrow.svg);
  transform: rotate(180deg);
  background-color: #fff;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9999;
  box-shadow: 0 2px 1px rgb(0 0 0 / 15%);
}
.row-news {
  flex-wrap: nowrap;
  -ms-overflow-style: none;
  .col-lg-4 {
    padding: 0.5rem;
  }
  &::-webkit-scrollbar {
    display: none !important; /* Chrome, Safari,Opera */
  }
}
/* news end */
section {
  position: relative;
  padding: 5rem 0;
  scroll-margin-top: 2rem;
}
section.introSeadronix {
  height: 100vh;
  padding: 0;
  background: #222;
  color: #f8fafc;
  position: relative;
}
.word {
  overflow: hidden;
}
.char {
  //animation: showTxt 1s ease 0s 1 forwards;
}

@keyframes showText {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
